{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_sugestao.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/script_home.js' %}"></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <img src="{% static 'img/logo.jpg' %}" alt="image">
        <div class="container-text">
            <h2>Gerenciamento de Funcionários</h2>
            <p>Mantenha o controle de todos os funcionários, acompanhe o desempenho e otimize a gestão de recursos humanos da sua empresa.</p>
            <div class="search-container">
                <input type="search" id="search" placeholder="Nome ou CPF">
                <div id="sugestao" class="sugestao"></div>
            </div>
            <span>Ou</span></br>
            <button onclick="window.location.href='/cadastrar/funcionario/'">Cadastrar Funcionario</button>
          </div>
        </div>

</body>
</html>
